<% if logged_in? %>
  <script type="text/javascript">
    window.currentUser = <%= render(
      "api/users/user.json.jbuilder",
      user: current_user
    ).html_safe %>
  </script>
<% end %>

<script type="text/javascript">
 window.images = {
   splashRow1: "<%= asset_path("sports.png") %>",
   highFive: "<%= asset_path("high-five.jpg") %>",
   huddle: "<%= asset_path("huddle.jpg") %>",
   strangers: "<%= asset_path("strangers.jpg") %>",
   logo: "<%= asset_path("sports_logo_burned.png") %>",
   Basketball: "<%= asset_path("categories/basketball.png") %>",
   Soccer: "<%= asset_path("categories/soccer.png") %>",
   Tennis: "<%= asset_path("categories/tennis.png") %>",
   addressIcon: "<%= asset_path("icons/address-icon.png") %>",
   calendarIcon: "<%= asset_path("icons/calendar-icon.png") %>",
   cityIcon: "<%= asset_path("icons/city-icon.png") %>",
   clockIcon: "<%= asset_path("icons/clock-icon.png") %>",
   hamburger: "<%= asset_path("hamburger.png") %>"
 }
</script>


<div id="root"> React Broke </div>
