<!DOCTYPE html>
<html>
  <head>
    <title>SportsWithStrangers</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link rel="shortcut icon" type="image/png" href="<%= asset_path("icon_sports_web.png") %>"/>
    
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-126018911-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-126018911-1');
    </script>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
