<!DOCTYPE html>
<html>
  <head>
    <title>SportsWithStrangers</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link rel="shortcut icon" type="image/png" href="<%= asset_path("icon_sports_web.png") %>"/>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
